.login
  %form{:action => "/choose", :method => "post"}
    %input{:name => "name", :type => "text", placeholder: "Enter your name:"}>/
    %input{:type => "submit", :value => "GO!", :class => "button"}