!!!
%html
  %head
    %title= @title
    %meta{:charset => "utf-8"}/
    %link{:href => "../assets/css/skeleton.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "../assets/css/normalize.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    .container
      = yield

:css
  * {
  margin: 0;
  padding: 0;
  }