.login
  %form{:action => "/", :method => "post"}
    %input{:name => "user_name", :type => "text", placeholder: "Enter your name:"}>/
    %input{:type => "submit", :value => "GO!", :class => "button"}