.row.game.container{{"ng-controller" => "GameController as game"}}

  .start-block{{"ng-show" => "game.gameStatus == 'ready'"}}
    %h1.text-center= "Hello, #{@current_user.name}."

    .game-actions.center
      .button{"ng-click" => "game.startGame()"}
        %p.btnText Ready?
        .btnTwo
          %p.btnText2 Go!

      .button{"ng-controller"=> "UserController as user", "ng-click" => "user.sessionDestroy()"}
        %p.btnText Logout
        .btnTwo
          %p.btnText2 X

  .row.game-block{{"ng-show" => "game.gameStatus != 'ready'"}}
    .movies{{"ng-init" => "game.getMovies()"}}
      .row.movie
        .col-md-7.block
          %img.center{:src => "{{game.imageHostingUrl}}/{{game.secret.image_file_name}}"}/
          %p.right-answer.text-center{{"ng-show" => "game.gameStatus == 'finished'"}}
            {{game.secretMovieTitle}}
          %h2.text-center Your score: {{game.score}}

          .row.finished-actions.center{{"ng-show" => "game.gameStatus == 'finished'"}}
            %a{:href => "/", class: "button col-xs-6"} 
              New Game

            %a{:href => "", class: "button col-xs-6", "ng-click" => "game.showRating()", "ng-hide" => "game.ratingShows"} 
              Rating

            %a{:href => "", class: "button col-xs-6", "ng-click" => "game.hideRating()", "ng-show" => "game.ratingShows"}
              Back

        .col-md-5.options{{"ng-hide" => "game.ratingShows"}}
          %ul.center{{"ng-repeat" => "movie in game.movies"}}
            %li
              %a#option{:href => "", class: "button center", "ng-class" => "{ 'right': $index == game.rightAnswer, 'wrong': $index == game.wrongAnswer }", "ng-click" => "game.checkAnswer(movie.id, $index)"}
                {{movie.title}}

          %ul.help-options{{"ng-hide" => "game.gameStatus == 'finished'"}}
            %li{{"ng-show" => "game.firstHelpOption == true"}}
              %a{:href => "", class: "button first", "ng-click" => "game.getFiftyFifty()"}
                50/50

            %li{{"ng-show" => "game.secondHelpOption == true"}}
              %a{:href => "", class: "button first", "ng-click" => "game.getSkipQuestion()"}
                Skip

            %li{{"ng-show" => "game.thirdHelpOption == true"}}
              %a{:href => "", class: "button first", "ng-click" => "game.getMistery()"}
                %img{:src => "http://images.clipartpanda.com/red-question-mark-clipart-bubble-question-mark-hi.png", :alt => "", width: 15}/

        .col-md-5.rating{{"ng-show" => "game.ratingShows"}}
          %table.center
            %caption Rating

            %tr
              %th Name
              %th Score

            %tr{{"ng-repeat" => "game in game.gamesList"}}
              %td {{game.user.name}}
              %td {{game.score}}