.row.game{{"ng-controller" => "GameCtrl"}}

  .start-block{{"ng-if" => "gameStatus == 'ready'"}}
    %h1.text-center= "Hello, #{@current_user.name}. Are you ready?"
    
    = link_to "Start", "#", { class: "button center", "ng-click" => "startGame(#{@current_user.id})" }

  .game-block{{"ng-if" => "gameStatus != 'ready'"}}
    .movies{{"ng-init" => "getMovies()"}}
      .row.movie
        .seven.columns
          %img.center{:src => "{{secret.image}}"}/

          %p.right-answer.text-center{{"ng-if" => "gameStatus == 'finished'"}}
            {{secretMovieTitle}}

          %h2.text-center You score: {{score}}

        .five.columns.options
          %ul.center{{"ng-repeat" => "movie in movies"}}
            %li
              %a#option{:href => "", class: "button center", "ng-class" => "{ 'right': $index == rightAnswer, 'wrong': $index == wrongAnswer }", "ng-click" => "checkAnswer(movie.id, $index)"}
                {{movie.title}}