.row.game.container{{"ng-controller" => "GameCtrl"}}

  .start-block{{"ng-if" => "gameStatus == 'ready'"}}
    %h1.text-center= "Hello, #{@current_user.name}. Are you ready?"
    
    %a{:href => "", class: "button center", "ng-click" => "startGame(#{@current_user.id})"}
      Start

  .row.game-block{{"ng-if" => "gameStatus != 'ready'"}}
    .movies{{"ng-init" => "getMovies()"}}
      .row.movie
        .col-md-7.block
          %img.center{:src => "{{secret.image}}"}/
          %p.right-answer.text-center{{"ng-if" => "gameStatus == 'finished'"}}
            {{secretMovieTitle}}
          %h2.text-center Your score: {{score}}

          .finished-actions.center{{"ng-if" => "gameStatus == 'finished'"}}
            %a{:href => "/", class: "button"} 
              New Game

            %a{:href => "", class: "button", "ng-click" => "showRating()"} 
              Rating

        .col-md-5.options{{"ng-hide" => "ratingShows"}}
          %ul.center{{"ng-repeat" => "movie in movies"}}
            %li
              %a#option{:href => "", class: "button center", "ng-class" => "{ 'right': $index == rightAnswer, 'wrong': $index == wrongAnswer }", "ng-click" => "checkAnswer(movie.id, $index)"}
                {{movie.title}}

          %ul.help-options
            %li{{"ng-if" => "firstHelpOption == true"}}
              %a{:href => "", class: "button first", "ng-click" => "getFiftyFifty()"}
                50/50

            %li{{"ng-if" => "secondHelpOption == true"}}
              %a{:href => "", class: "button first", "ng-click" => "getSkipQuestion()"}
                Skip

            %li
              %a{:href => "", class: "button first", "ng-click" => ""}
                testing

        .col-md-5.rating{{"ng-show" => "ratingShows"}}
          %table.center
            %caption Rating

            %tr
              %th Name
              %th Score

            %tr{{"ng-repeat" => "game in games"}}
              %td {{game.user.name}}
              %td {{game.score}}
