.row.game{{"ng-controller" => "GameCtrl"}}

  .start-block{{"ng-if" => "gameStatus == 'ready'"}}
    %h1.text-center= "Hello, #{@current_user.name}. Are you ready?"
    
    = link_to "Start", "#", { class: "button center", "ng-click" => "startGame(#{@current_user.id})" }

  .game-block{{"ng-if" => "gameStatus == 'processing'"}}
    .movies{{"ng-init" => "getMovies()"}}
      .row.movie
        .seven.columns
          %img.center{:src => "{{secret.image}}"}/
          %h2.text-center You score: {{score}} {{answerStatus}}

        .five.columns.options
          %ul.center{{"ng-repeat" => "movie in movies"}}
            %li{{"ng-click" => "checkAnswer(movie.id)"}}
              %a{:href => "", class: "button center"} {{movie.title}}