default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  port: 5432
  username: postgres
  password: ***
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: guess_development

test:
  <<: *default
  database: guess_test

production:
  <<: *default
  database: guess_production