.container {
  margin-top: 100px;
}

.button {
  &.right {
    border: solid 2px #2CFF2C;
  }
  
  &.wrong {
    border: solid 2px #FA595F;
  }
}

.center {
  display: block;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.game {
  .start-block {
    .button {
      max-width: 250px;
      margin-top: 50px;
    }
  }

  .button.mistery {
    max-width: 80px;
  }

  .movies {
    .right-answer {
      color: #00d713;
      font-size: 3rem;
      margin-bottom: 0;
    }

    .movie {
      #option {
        margin-bottom: -2px
      }

      .timer {
        max-width: 100px;
        background-color: #fff;
      }

      img {
        width: 100%;
      }

      .options {
        margin-top: -86px;
      }

      .help-options {
        margin-top: 60px;

        li {
          margin: 0;
        }
      }
    }
  }
}
