.container {
  padding-top: 10%;
}

.button {
  &.right {
    border: solid 2px #2CFF2C;
  }
  &.wrong {
    border: solid 2px #FA595F;
  }
}

.center {
  display: block;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.home {
  form {
    .field {
      max-width: 325px;
    }
  }
}

.game {
  .start-block {
    .button {
      max-width: 250px;
      margin-top: 50px;
    }
  }

  .movies {
    .movie {
      img {
        max-width: 500px;
      }

      .options .button{
        width: 350px;
      }
    }
  }
}
